*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
    cursor: pointer;
}
.logo{
     padding: 7px;
     background-image: url("Amazon_logo.png");
     background-size: cover;
     height: 50px;
     width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.logo:hover{
    border: 1.5px solid white;
}

/* box2 */
.nav-address{
    padding: 7px;
    cursor: pointer;
}
.add-first{
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-second{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-address:hover{
    border: 1.5px solid white;
}

/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:  620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding: 7px;
    cursor: pointer;
}
.Search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 7px;
}
.Search-icon{
    width: 45px;
    display: flex;
    justify-content: center;      /* horizantally center */
    align-items: center;         /* vertically center */
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
    color: #0f1111;
    padding: 7px;
    cursor: pointer;
}
/* .nav-search:hover{
    border: 2px solid orange;
} */

/* box4 , 5 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-signin:hover{
    border: 1.5px solid white;
}
.nav-orders:hover{
    border: 1.5px solid white;
}
.nav-signin{
    padding: 7px;
    cursor: pointer;
}
.nav-orders{
    padding: 7px;
    cursor: pointer;
}

/* box6 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    padding: 7px;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
}
.nav-cart:hover{
    border: 1.5px solid white;
}

/* panel */
.panel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.panel-ops p{
    display: inline;
    width: 10px;
    padding: 7px;
}
.panel-ops p:hover{
    border: 1.5px solid white;
}
.panel-ops {
    width: 80%;
    font-size: 0.75rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}

/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
    cursor: pointer;
    text-decoration: none;
}
.hero-msg a:hover{
    text-decoration: underline;
}
/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    font-size: 0.95rem;
    color: #007185;
}
.box-img:hover{
    cursor: pointer;
}
.box-content p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(241, 113, 113);
}

/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a {
    font-size: 0.85rem;
    display: block;
    margin-top: 10px;
    color: #dddddd;

}

ul a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image: url("Amazon_logo.png");
    background-size: cover;
    height: 100px;
    width: 200px;
}
.foot-panel4{
background-color: #0f1111;
color: white;
height: 80px;
text-align: center;
font-size: 0.7rem;
}
.pages{
    padding-top: 25px;
}
.pages a:hover{
    text-decoration: underline;
}
.copyright{
    padding-top: 5px;
}